$pink_color:#D60265;
$blue_color:#4691FF;
$color_background_btn:#e3eefe;
$background_color:#F5F5F5;
$shadow_1: 0 1px 2px rgba(0, 0, 0, .1),0 6px 14px rgba(0, 0, 0, .1);
$shadow_2: 0 2px 4px rgba(0, 0, 0, .1),0 8px 16px rgba(0, 0, 0, .1);
$breakpoints-up: ("medium": "40em", "large": "64em", "xlarge": "87.5em");
//639px,1023px,1399px
$breakpoints-down:("small": "39.9375em", "medium": "63.9375em", "large": "87.4375em");

@mixin breakpoint-up($size){
    @media (max-width: map-get($breakpoints-up, $size)){
      @content;
    }
  }  
@mixin breakpoint-down($size){
    @media (max-width: map-get($breakpoints-down, $size)){
        @content;
    }
}
.dashboard-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    // padding: 2%;
    padding-bottom:2% ;
    padding-left: 2%;
    padding-right: 2%;
    flex-wrap: wrap;
    align-items: center;

    @include breakpoint-down(medium){
        flex-wrap: wrap;
    }   
    @include breakpoint-down(small){
        // flex-direction: column;
        justify-content: center;
    }
    .card-one{
        border-radius: 10px;

        display: flex;
        align-items: center;
        width: 24%;
        padding: 20px;
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: white;
        box-shadow: $shadow_1;
        justify-content: space-around;
        transition: 0.4s all;
        @include breakpoint-up(large){
            width: 48%;
            margin-top: 3%;
        }
        @include breakpoint-down(medium){
            width: 48%;
            margin-top: 3%;
        }
        @include breakpoint-down(small){
            width: 46%;
            margin-left:2%;
            margin-right: 2%;
            padding: 10px;
            margin-top: 3%;
        }
        .logo{
            width: 50%;
            margin-left: 3%;
            button{
                border: none;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                box-shadow: $shadow_1;
                @include breakpoint-down(small){
                    width: 50px;
                    height: 50px;
                }
            .money{
                background-color: rgb(157, 218, 247);
            }
            &.user{
                background-color: #e3eefe ;
                em{
                    color: $blue_color  ;
                }
            }
            &.chart{
                background-color: rgba(75, 192, 192, 0.2);
                em{
                    color: rgb(92, 209, 170);
                }
            }
            &.money{
                background-color:rgba(153, 102, 255, 0.2) ;
                em{
                    color: rgba(156, 124, 219, 0.726) ;
                }
            }
            &.wallet{
                background-color: rgba(255, 207, 86, 0.349);
                em{
                    color:  rgba(255, 206, 86, 1);
                }
            }
        }
        }
        .text{
            width: 50%;
            display: flex;
            flex-direction: column;
            .title{
                font-size: 2rem;
                font-weight: bold;
            }
            .content-text{
                color: grey;
            }
            @include breakpoint-down(small){
                .title{
                    font-size: 1.4rem;
                }
                .content-text{
                    font-size:0.6rem;
                }
            }
        }
}
}