.dropdown-toggle::after {
  content: none;
}
.dropdown-header {
  color: #d60265;
  font-size: 20px;
  font-weight: 900;
}
.productTable {
  color: #d60265;
  border: 1px black;
  text-align: center;
}
.proDescrib {
  color: black;
}
.proImg {
  width: 150px;
}

.customer {
  font-weight: 900;
}

.option {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-end; */
  float: right;
}
/* .form-control::placeholder{
  color: #d60265;
} */
