.header{
    color: #D60265;
  }
  .nav-link:active{
    background-color: #f165a7;
  }
  .nav-link:focus{
    background-color: #f165a7;;
  }
  .form-control{
    border: 1px solid #D60265;
    
  }
  .search{
    font-family:Arial, FontAwesome;
  }
  .search::placeholder{
    color: #D60265;
  }
  .productTable{
    color: #D60265;
    border: 1px black;
    text-align: center;
  }
  .proDescrib{
    color: black;
  }
  .proImg{
    width: 150px;
  }