.header {
  color: #d60265;
}
.nav-link:active {
  background-color: #f165a7;
}
.nav-link:focus {
  background-color: #f165a7;
}
.form-control {
  border: 1px solid #d60265;
}
.search {
  font-family: Arial, FontAwesome;
}
.search::placeholder {
  color: #d60265;
}
.productTable {
  color: #d60265;
  border: 1px black;
  text-align: center;
}
.proDescrib {
  color: black;
}
.proImg {
  width: 150px;
}
.dropdown-menu{
  left: auto;
  right: 0;
  width: 650px;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-header{
  color: #d60265;
  font-size: 20px;
  font-weight: 900;
}
.customer {
  font-weight: 900;
}
.productOrdered{
  color: black;
}
.btn.opt{
  background-color: #d60265;
  color: white;
}
.option{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}